{{#partial "stylesheets"}}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="/assets/css/oneui.css">
     <link rel="stylesheet" type="text/css" href="/css/custom.css">
{{/partial}}

{{#partial "javascript"}}
        <script src="/assets/js/core/jquery.min.js"></script>
        <script src="/assets/js/core/bootstrap.min.js"></script>
        <script src="/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="/assets/js/core/jquery.appear.min.js"></script>
        <script src="/assets/js/core/jquery.countTo.min.js"></script>
        <script src="/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="/assets/js/core/js.cookie.min.js"></script>
        <script src="/assets/js/app.js"></script>
{{/partial}}

{{#partial "content"}}
<!-- Page Header -->
<div class="content bg-image" 
	{{#if banner}}
		style="background-image: url('{{banner}}');
		">
	{{else}}
		style="background-image: url('https://web-cdn.ttvnw.net/images/xarth/bg_glitch_pattern.png');
		background-size: auto;">
	{{/if}}
    <div class="push-50-t push-15 clearfix">
        <div class="push-15-r pull-left">
            <img class="img-avatar img-avatar-thumb" src="{{logo}}" alt="">
        </div>
        <h1 class="h2 text-white push-5-t">{{name}}</h1>
        <h2 class="h5 text-white-op"><a class="text-white" href="http://www.twitch.tv/{{name}}">twitch.tv/{{name}}</a></h2>
    </div>
</div>


<!-- END Page Header -->

<!-- Stats -->
<div class="content bg-white border-b">
    <div class="row items-push text-uppercase text-center">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="font-w700 text-gray-darker animated fadeIn">Total VIPs</div>
            <span class="h2 font-w300 text-primary animated flipInX">{{vip.stats.vips-total}}</span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="font-w700 text-gray-darker animated fadeIn">Total VIP-Levels</div>
            <span class="h2 font-w300 text-primary animated flipInX">{{vip.stats.levels-total}}</span>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="font-w700 text-gray-darker animated fadeIn">{{pointsname}} Spent On VIP</div>
            <span class="h2 font-w300 text-primary animated flipInX">{{vip.stats.points-spent}}</span>
        </div>
    </div>
    <div class="row items-push text-uppercase text-center">
    </div>

</div>
<!-- END Stats -->

<!-- Page Content -->
<div class="content content-boxed">
  <!-- Header BG Table -->
  <div class="block">
      <div class="block-content">

        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-block btn-default btn-lg" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Show VIP Info Table <small>(cost function: {{vip.function}})</small>
            </a>
            <div class="collapse" id="collapseExample">
              <div class="well">
                <table class="table table-borderless table-header-bg">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Level</th>
                            <th class="text-center" style="width: 30%;">Name</th>
                            <th class="text-center"  style="width: 30%;">Cost</th>
                            <th class="text-center hidden-xs"  style="width: 30%;">Users</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each vip.table}}
                        <tr>
                            <td>{{level}}</td>
                            <td class="text-center">{{vip_name}}</td>
                            <td class="text-center">
                                <span>{{cost}}</span>
                            </td>
                            <td class="text-center hidden-xs">
                                <span>{{amount}}</span>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="block-content">
          <table class="table table-borderless table-header-bg">
              <thead>
                  <tr>
                      <th style="width: 10%;">Level</th>
                      <th class="text-center" style="width: 30%;">Name</th>
                      <th class="text-center"  style="width: 30%;">VIP-Name</th>
                      <th class="text-center hidden-xs"  style="width: 30%;">Next Level</th>
                  </tr>
              </thead>
              <tbody>
              {{#each users}}
                  <tr>
                      <td>{{level}}</td>
                      <td class="text-center"><a href="/streamers/{{name}}?q={{username}}">{{username}}</a></td>
                      <td class="text-center">
                          <span>{{vip_name}}</span>
                      </td>
                      <td class="text-center hidden-xs">
                          <div class="progress">
                              <div class="progress-bar progress-bar-{{bar_color}}" role="progressbar" aria-valuenow="{{points}}" aria-valuemin="0" aria-valuemax="{{cost}}" style="width: {{progress}}%">{{points}}/{{cost}}</div>
                          </div>
                      </td>
                  </tr>
              {{/each}}
              </tbody>
          </table>
          {{#if pagination}}
           <div class="row text-center">
             <div class="paging_simple_numbers" id="DataTables_Table_1_paginate">
               <ul class="pagination">
                 <li class="paginate_button previous {{# if pagination.back.enabled}}{{else}}disabled{{/if}}" aria-controls="DataTables_Table_1" tabindex="0" id="DataTables_Table_1_previous">
                   <a href="/streamers/{{name}}/vip?p={{pagination.back.url}}"><i class="fa fa-angle-left"></i></a>
                 </li>
                 {{#each pagination.pages}}
                 <li class="paginate_button {{#if active}}active{{/if}} {{#if enabled}}{{else}}disabled{{/if}}" aria-controls="DataTables_Table_1" tabindex="0">
                   <a href="/streamers/{{name}}/vip?p={{value}}">{{value}}</a>
                 </li>
                 {{/each}}
                 <li class="paginate_button next {{# if pagination.next.enabled}}{{else}}disabled{{/if}}"  aria-controls="DataTables_Table_1" tabindex="0" id="DataTables_Table_1_next">
                   <a href="/streamers/{{name}}/vip?p={{pagination.next.url}}"><i class="fa fa-angle-right"></i></a>
                 </li>
               </ul>
             </div>
           </div>
           {{/if}}
      </div>
  </div>
  <!-- END Header BG Table -->




</div>
<!-- END Page Content -->
{{/partial}}

{{> viewer/base.hbs}}

