{{#partial "title"}} Honybot {{/partial}} {{#partial "content"}}
<div class="bg-image"
	style="background-image: url('images/landing/hero1.jpg'); background-attachment: fixed;">
	<div class="bg-primary-dark-op">
		<section class="content content-full content-boxed overflow-hidden">
			<!-- Section Content -->
			<div class="push-100-t push-50 text-center">
				<h1 class="h2 text-white push-10">Make
					your twitch.tv chat more interactive with Honybot</h1>
				<h2 class="h5 text-white-op push-50">
					Honybot is a twitch chatbot designed to make your chat more
					interactive and fun for viewers. We offer a multitude of cool,
					engaging and highly customizable features specifically designed to
					bring you closer to your community. Our <strong
						class="text-warning">exclusive Stracraft 2 features</strong> will
					make your life easier as ever before.
				</h2>
				<a class="btn btn-rounded btn-lg btn-warning" href="{{twitch_login}}">Connect with Twitch</a>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<img class="img-responsive pull-b"
						src="/images/landing/hero4.jpg" alt="">
				</div>
			</div>
			<!-- END Section Content -->
		</section>
	</div>
</div>
<!-- END Hero Content --> <!-- Classic Features #1 -->
<div class="bg-white">
	<section class="content content-boxed">
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
				<div class="feature-tile">
					<div class="text-center push-30">
						<span class="item item-2x item-circle border"> <i
							class="si si-badge fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">
						Rewards <span class="label label-success"
							style="text-transform: initial">new</span>
					</h3>
					<p>
						Create your own custom rewards. Viewers can <strong>redeem</strong>
						these rewards, for exmaple playing a round of Starcraft with you,
						or <strong>anything else</strong> you want to offer to your
						viewers.
					</p>
				</div>

			</div>
		</div>
		<div class="row items-push-3x push-50-t nice-copy">
			<div class="col-sm-4">
				<div class="feature-tile">
					<div class="text-center push-30">
						<span class="item item-2x item-circle border"> <i
							class="far fa-money-bill-alt fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">Currency</h3>
					<p>
						Reward your viewers for their dedication with your own custom
						currency. <b>YOU</b> can decide when, and how much your viewers
						will get. Don't want that? Just turn it off.
					</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature-tile">
					<div class="text-center push">
						<span class="item item-2x item-circle border"> <i
							class="fa fa-star fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">VIP-System</h3>
					<p>Our VIP-System is designed to reward your most faithful
						fans. Tag them with <strong>custom ranks</strong>, give them bonus currency and
						offer them unique features to use.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature-tile">
					<div class="text-center push">
						<span class="item item-2x item-circle border"> <i
							class="fa fa-trophy fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">Bets <span class="label label-success" style="text-transform: initial">imroved</span></h3>
					
					<p>Let your viewers bet on everything you can imagine by
						creating custom bets. They can even be <strong>automated</strong> so you can focus
						on the most important thing: Your stream!</p>
				</div>
			</div>
		</div>
		<div class="row items-push-3x nice-copy">
			<div class="col-sm-4">
				<div class="feature-tile">
					<div class="text-center push">
						<span class="item item-2x item-circle border"> <i
							class="fa fa-gamepad fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">Starcraft
						2</h3>
					<p>Honybot provides powerful tools for all Starcraft 2 players.
						Check your <strong>rank</strong>, auto-update your stream<strong> title</strong>, and <strong>automatically
						start bets</strong>. Streaming SC2 has never been so relaxed.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature-tile">
					<div class="text-center push">
						<span class="item item-2x item-circle border"> <i
							class="fa fa-terminal fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">Custom
						Commands</h3>
					<p>Create <strong>your own commands</strong> however you want them. Want a
						special command for VIPs? Sure. Want a command to cost currency?
						No problem. Only moderators should be able to use it? It's all up
						to you!</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature-tile">
					<div class="text-center push">
						<span class="item item-2x item-circle border"> <i
							class="fas fa-sort-numeric-up fa-lg"></i>
						</span>
					</div>
					<h3 class="h5 font-w600 text-uppercase text-center push-10">Counters</h3>
					<p>Want to count your <strong>failed games</strong> in Starcraft? Or maybe your
						<strong>deaths</strong> in Dark Souls? Perhaps you want a poll to start after your
						<strong>10th death</strong> on where to go next? You can do all that and more with
						custom counters.</p>
				</div>
			</div>
		</div>
		<!-- END Section Content -->
	</section>
</div>
<!-- END Classic Features #1 --> <!-- Mini Stats -->
<div class="bg-gray-lighter"
	style="background-image: url(http://codex-themes.com/scalia/wp-content/uploads/2014/12/Parallax-Background-Dark-08.jpg); color: white; background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
	<section class="content content-boxed">
		<!-- Section Content -->
		<div class="row items-push push-20-t push-20 text-center">
			<div class="col-sm-4">
				<!-- <div class="h1 push-5" data-toggle="countTo" data-to="{{lines_received}}" data-after="+"></div> -->
				<div class="h1 push-5">{{lines_received}}+</div>
				<div class="font-w600 text-uppercase text-muted">Chat Lines
					Received</div>
			</div>
			<div class="col-sm-4">
				<!-- <div class="h1 push-5" data-toggle="countTo" data-to="{{lines_sent}}" data-after="+"></div> -->
				<div class="h1 push-5">{{lines_sent}}+</div>
				<div class="font-w600 text-uppercase text-muted">Commands Used</div>
			</div>
			<div class="col-sm-4">
				<!-- <div class="h1 push-5" data-toggle="countTo" data-to="{{viewers_seen}}" data-after="+"></div> -->
				<div class="h1 push-5">{{viewers_seen}}+</div>
				<div class="font-w600 text-uppercase text-muted">Viewers Seen</div>
			</div>
		</div>
		<!-- END Section Content -->
	</section>
</div>
<!-- END Mini Stats --> <!-- Side Feature -->
<div class="bg-white">
	<section class="content content-boxed overflow-hidden">
		<!-- Section Content -->
		<div class="row items-push-2x push-30-t nice-copy">
			<div class="col-lg-5">
				<div class="push-50 text-justify">
					<h3 class="h5 font-w600 text-uppercase push-5">
						<i class="fa fa-cloud text-flat push-5-r"></i> Cloud Hosted
					</h3>
					<p>Honybot is hosted on our servers. No need for you to
						download or install any additional software. You're always online
						and ready to go with the push of a button.</p>
				</div>
				<div class="push-50 text-justify">
					<h3 class="h5 font-w600 text-uppercase push-5">
						<i class="fa fa-mobile-alt text-flat push-5-r"></i> Mobile Friendly
					</h3>
					<p>You want to control Honybot with your smartphone or Tablet?
						Our application is mobile friendly and can be operated
						effortlessly with any common mobile device.</p>
				</div>
				<div class="push-50 text-justify">
					<h3 class="h5 font-w600 text-uppercase push-5">
						<i class="fa fa-code text-flat push-5-r"></i> Actively Developed
					</h3>
					<p>
						Honybot is still in development. New features, patches and updates
						are <a href="/changes">applied regularly.</a> You have some ideas
						on how to improve Honybot or got an idea for a cool new feature?
						Just let us know!
					</p>
				</div>
				<div class="push-50 text-justify">
					<h3 class="h5 font-w600 text-uppercase push-5">
						<i class="far fa-money-bill-alt text-flat push-5-r"></i> 100% Free
					</h3>
					<p>Honybot won't cost you a dime and never will.</p>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-2 visible-lg">
				<img class="img-responsive" src="/images/landing/honypromo2.jpg"
					alt="">
			</div>
		</div>
		<!-- END Section Content -->
	</section>
</div>
<!-- END Side Feature --> <!-- Ratings -->
<div class="bg-image"
	style="background-image: url('assets/img/photos/photo3@2x.jpg'); background-attachment: fixed;">
	<div class="bg-primary-dark-op">
		<section class="content content-full content-boxed">
			<!-- Section Content -->
			<div class="row items-push-2x push-50-t text-center">
				<div class="col-sm-6">
					<a href="https://www.twitch.tv/miezekotzesc"> <img
						class="img-avatar img-avatar-thumb"
						src="https://static-cdn.jtvnw.net/jtv_user_pictures/miezekotzesc-profile_image-c0902261284b7074-300x300.jpeg"
						alt="">
					</a>
					<div class="h4 text-white-op push-5">Honybot is a great
						addition to the stream - my viewers really enjoy collecting
						Fritten . I especially love how generous everyone is when someone
						is short of a few Fritten right before they hit the next VIP
						level.</div>
					<div class="h6 text-gray">- Miezekotze</div>
				</div>
				<div class="col-sm-6">
					<a href="https://www.twitch.tv/miezekotzesc"> <img
						class="img-avatar img-avatar-thumb"
						src="https://static-cdn.jtvnw.net/jtv_user_pictures/railgan-profile_image-7f8084d43f5fb5df-300x300.png"
						alt="">
					</a>
					<div class="h4 text-white-op push-5">
						I've been using Honybot for all my streams. It helps me interact
						with my viewers and increases the viewers engagement in my games.
						<br> <span class="text-primary">#bet all win</span>
					</div>
					<div class="h6 text-gray">- Railgan</div>
				</div>

			</div>
			<!-- END Section Content -->
		</section>
	</div>
</div>
<!-- END Ratings --> <!-- Get Started -->
<div class="bg-gray-lighter">
	<section class="content content-full content-boxed">
		<!-- Section Content -->
		<div class="push-20-t push-20 text-center">
			<h3 class="h4 push-20">Are you interested in trying Honybot?</h3>
			<a class="btn btn-rounded btn-lg btn-warning"
				href="{{twitch_login}}">Connect with Twitch</a>
		</div>
		<!-- END Section Content -->
	</section>
</div>
<!-- END Get Started --> {{/partial}} {{>frontend/base.hbs}}